node_modules/
.next/
.netlify/
out/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env*

# Secrets and API keys
*.pem
*.key
*creds*
*secret*

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
